body {
  	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 800;
  	font-style: normal;
}

h1 {
	font-size:45;
	color:red;
}

a {
	font-size:25;
	color:seagreen;
}

p {
	text-align:center;
	font-size:15;
	margin-bottom:15;
}


.output {
	text-align:center;
	color:lightblue;
	font-size:25;
}
